{% if cart.items.size > 0 %}
<form action="{{ cart_items }}" method="post" class="shopping-cart" data-cart-form>
  <div class="cart_header">
    <div class="cart_header_left">
      <h1>{{messages.cart_title}}</h1>
      <div class="cart_left_total hide show-xs">{{ messages.label_total }}: <span class="shopcart-widget-amount js-shopcart-widget-amount"></span></div>
    </div>
    <div class="cart_header_right">
        <div class="cart_right_total hidden-xs">{{ messages.label_total }}: <span class="shopcart-widget-amount js-shopcart-widget-amount"></span></div>
        <button type="submit" class="cart-checkout button is-primary" data-cart-submit><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="button-text">{{ messages.button_checkout }}</span></button>    	
    </div>
  </div>

    <div class="cart-body">
      <div class="cart-list">
        {% for item in cart.items %}
          {% include 'cart_item' %}
        {% endfor %}
      </div>
    </div>

    <div class="cart-footer">
        {% include "cart_discount" %}
      	<div class="cart-footer-total">
          	<div class="cart-total-label">{{ messages.label_total }}</div>
        	<div class="cart-total js-shopcart-total-summ"></div>
        </div>

        <button type="submit" class="cart-checkout button is-primary" data-cart-submit><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="button-text">{{ messages.button_checkout }}</span></button>
		<div class="text-center"><a class="cart-continue" href="{{collections.all.url}}">{{ messages.label_back_shop }}</a></div>
    </div>

    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="make_order" value="">
    <input type="hidden" name="lang" value="{{ language.locale }}"/>

  </form>

  {% assign cart_empty_class = 'hidden' %}
{% else %}

  <div class="cart_header flex-middle js-cart-empty {{ cart_empty_class }}">
    <div class="cart_header_left">
      <h1>{{messages.cart_title}}</h1>
    </div>
    <div class="cart_header_right">   	
      <a class="cart-continue" href="{{collections.all.url}}">{{ messages.label_back_shop }}</a>
    </div>
  </div>
{% endif %}

<div class="block-cart-empty text-center js-cart-empty {{ cart_empty_class }}">
  <p>{{ messages.cart_is_empty }}</p>
  <a class="button is-primary cart-checkout" href="{{collections.all.url}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="button-text">{{ messages.label_back_shop }}</span></a>
</div>
{% assign cart_empty_class = null %}