<!--mshp-->
<link  href="{{ 'mshp.css' | asset_url }}" rel='stylesheet' type='text/css'>
<script src="{{ 'mshp-cart.js' | asset_url }}" charset="utf-8"></script>
<div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor"
              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
        </path>
    </svg>
</div>
<!--mshp-->
{% if cart.items.size > 0 %}
<form action="{{ cart_items }}" method="post" class="shopping-cart" data-cart-form>
  <div class="cart_header">
    <div class="cart_header_left">
      <h1>{{messages.cart_title}}</h1>
      <div class="cart_left_total hide show-xs">{{ messages.label_total }}: <span class="shopcart-widget-amount js-shopcart-widget-amount"></span></div>
    </div>
    <div class="cart_header_right">
        <div class="cart_right_total hidden-xs">{{ messages.label_total }}: <span class="shopcart-widget-amount js-shopcart-widget-amount"></span></div>
        <button type="submit" class="cart-checkout button is-primary" data-cart-submit><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="button-text">{{ messages.button_checkout }}</span></button>    	
    </div>
  </div>

    <div class="cart-body">
      <div class="cart-list">
        {% for item in cart.items %}
          {% include 'cart_item' %}
        {% endfor %}
      </div>
    </div>

    <div class="cart-footer">
        {% include "cart_discount" %}
      	<div class="cart-footer-total">
          	<div class="cart-total-label">{{ messages.label_total }}</div>
        	<div class="cart-total js-shopcart-total-summ"></div>
        </div>

        <button type="submit" class="cart-checkout button is-primary" data-cart-submit><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="button-text">{{ messages.button_checkout }}</span></button>
		<div class="text-center"><a class="cart-continue" href="{{collections.all.url}}">{{ messages.label_back_shop }}</a></div>
    </div>

    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="make_order" value="">
    <input type="hidden" name="lang" value="{{ language.locale }}"/>

  </form>

  {% assign cart_empty_class = 'hidden' %}
{% else %}

  <div class="cart_header flex-middle js-cart-empty {{ cart_empty_class }}">
    <div class="cart_header_left">
      <h1>{{messages.cart_title}}</h1>
    </div>
    <div class="cart_header_right">   	
      <a class="cart-continue" href="{{collections.all.url}}">{{ messages.label_back_shop }}</a>
    </div>
  </div>
{% endif %}

<div class="block-cart-empty text-center js-cart-empty {{ cart_empty_class }}">
  <p>{{ messages.cart_is_empty }}</p>
  <a class="button is-primary cart-checkout" href="{{collections.all.url}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="button-text">{{ messages.label_back_shop }}</span></a>
</div>
{% assign cart_empty_class = null %}